* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.game {
    width: 600px;
    height: 200px;
    border: 1px solid #000000;
    margin: auto;
    position: relative;
    overflow: hidden;
}

#dino {
    width: 70px;
    height: 70px;
    background-image: url(t-rex.png);
    background-size: auto 70px;
    position: absolute;
    bottom: 0;
    left: 50px;
}

.jump {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% { bottom: 0; }
    30% { bottom: 60px; }
    50% { bottom: 100px; }
    80% { bottom: 60px; }
    100% { bottom: 0; }
}

#cactus {
    width: 20px;
    height: 40px;
    background-image: url(cactus.png);
    background-size: 20px 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: cactus-block 1.2s infinite linear;
}

@keyframes cactus-block {
    0% { right: 0; }
    100% { right: 600px; }
}
